<div id="main">
</br><section id="edit_news">
<header><h1>Редактирование новости:</h1></header>
<article>

<%= render 'form4news' %>
</article>
<footer>
<%= link_to "Назад, ко всем новостям", "/" %>
</footer>
</section></br>
</div>