<div id="main">
</br><div id="main"><br>
	<section id="edit_news">
<header><h1>Редактирование книги:</h1></header>
<article>

<%= render 'form4books' %>
</article>
<footer>
<%= link_to "К списку всех книг", books_path %>
</footer>
</section>
</br>
</div></br>
</div>