<div id="main">
</br><section id="new_news">
<header><h1>Создание новой книги:</h1></header>
<article>


<%= render 'form4books' %>
</article>
<footer>
<%= link_to "Назад, к списку всех книг", books_path %>
</footer>
</section>
</br>
</div>