<div id="main">
</br><section id="edit_news">
<header><h1>Редактирование персонажа:</h1></header>
<article>


<%= render 'form4characters' %>
</article>
<footer>
<%= link_to "Назад, к списку персонажей", characters_path %>
</footer>
</section></br>
</div>