// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



header, nav, section, article, footer,aside {display:block; text-align: center;}
section {width: 78%; position: center;} 
header {font-size: 25px; font-family: Monotype Corsiva;  margin-right: 39%; margin-left: 40%;}
section header { border: 1px solid black; margin-right: 0%; margin-left: 0%;}
section article{font-size: 15px; }
section.header.a{font-size: 18px;}
section section{margin-left: 22%; margin-right: 25%;border: 1px double black;}
#main{position: center; margin-left: 4%; margin-right: 16%; background: #F8CC81; height: 100%;}
a {color:black; text-decoration:none;}
a:hover {text-decoration:none;}
nav { position: center;}
h3 {font-family:Monotype Corsiva;text-decoration:none; color: black;}
aside{float: right; }
.podrobno a{ font-family:Monotype Corsiva; font-size: 16px}
.podrobno {padding-left: 370px;}
#show{width: 80%; margin-left: 10%; margin-right: 10%; margin-top: 50px;  border: 2px double black;}
#show_aside{width: 10%;}
#edit_news{width: 80%; margin-left: 10%; margin-right: 10%; margin-top: 50px;  border: 2px double black;}
#new_news{width: 80%; margin-left: 10%; margin-right: 10%; margin-top: 50px;  border: 2px double black;}
section pre{white-space: pre-line;}
footer a{float: center;}
